<div class="container">
  <p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in Typeahead</p>


    <div class="form-group form-inline">
        Szukaj ucznia:
        <div class="">
          <!-- <input class="form-control ml-2" type="text" [(ngModel)]="searchModel"/> -->
          <button class="btn btn-lg btn-primary" [routerLink]="['/nauczyciel/dodaj']" routerLinkActive="router-link-active" > DODAJ NAUCZYCIELA</button>
      
        </div>
        
    </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">Imię i nazwisko</th>
      <th scope="col">Przedmioty</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of teachers">
      <th scope="row">{{ teacher.id }}</th>
      <td>
        {{teacher.teacher.fullName}}
      </td>
      <td>
          {{teacher.subject.subjectName}}
    </td>
    </tr>
    </tbody>
  </table>
</div>
