<div class="container">
  <p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in Typeahead</p>


    <div class="form-group form-inline">
        Szukaj ucznia:
        <div class="">
          <!-- <input class="form-control ml-2" type="text" [(ngModel)]="searchModel"/> -->
          <button class="btn btn-lg btn-primary" [routerLink]="['/klasa/dodaj']" routerLinkActive="router-link-active" > DODAJ KLASE</button>
      
        </div>
        
    </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Klasa</th>
      <th scope="col">Rocznik</th>
      <th scope="col">Wychowawca</th>
      <th scope="col">Lista uczniów</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let class of classes">
      <th scope="row">{{ class.id }}</th>
      <td><ngb-highlight [result]="class.className"></ngb-highlight></td>
      <td><ngb-highlight [result]="class.year"></ngb-highlight></td>
      <td><ngb-highlight [result]="class.teacher.fullName"></ngb-highlight></td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/klasa/', class.id]" routerLinkActive="router-link-active" >Uczniowie</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
