<div class="container">
  <p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in Typeahead</p>


    <div class="form-group form-inline">
        Szukaj ucznia:
        <div class="">
          <!-- <input class="form-control ml-2" type="text" [(ngModel)]="searchModel"/> -->
          <!-- <button class="btn btn-lg btn-primary" [routerLink]="['/uczen/dodaj']" routerLinkActive="router-link-active" > DODAJ UCZNIA</button> -->
      
        </div>
        
    </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Klasa</th>
      <th scope="col">Imię wychowawcy</th>
      <th scope="col">Nazwisko wychowawcy</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let class of classes">
      <th scope="row">{{ class.id }}</th>
      <td><ngb-highlight [result]="class.name"></ngb-highlight></td>
      <td><ngb-highlight [result]="class.teacher.name"></ngb-highlight></td>
      <td><ngb-highlight [result]="class.teacher.surname"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>
</div>
