<div class="container">

    <div class="form-group form-inline">
        Szukaj przedmiotu:
        <div class="">
          <!-- <input class="form-control ml-2" type="text" [(ngModel)]="searchModel"/>   -->
          <button class="btn btn-lg btn-primary" [routerLink]="['/ocena/uczen', student.id]" routerLinkActive="router-link-active" > DODAJ OCENĘ</button>    
        </div>
        
    </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Uczeń</th>
      <th scope="col">Przedmiot</th>
      <th scope="col">Nauczyciel</th>
      <th scope="col">Ocena</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let enrollment of enrollments">
      <th scope="row">{{ enrollment.id }}</th>
      <td>{{enrollment.student.fullName}}</td>
      <td>{{enrollment.subject?.subjectName}}</td>
      <td> <!-- {{enrollment.teacher.fullName}} --> Renata</td>
      <td>{{enrollment.grade}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
