<div class="col-md-8 order-md-1 container">

  <h1 class="mb-3 text-uppercase text-center">Wystaw ocene</h1>

  <form [formGroup]="addGradeForm" (ngSubmit)="onSubmit()">

          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="addGradeForm" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let student of studentList" >
              {{student.fullName}}
            </mat-option>
          </mat-autocomplete>

    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block mb-4" [disabled]="!addGradeForm.valid" type="submit">Dodaj ocene</button>
  </form>
</div>