<div class="container">
    <div class="form-group form-inline">
        Szukaj przedmiot:
        <div class="">
          <!-- <input class="form-control ml-2" type="text" [(ngModel)]="searchModel"/> -->
          <!-- <button class="btn btn-lg btn-primary" [routerLink]="['/uczen/dodaj']" routerLinkActive="router-link-active" > DODAJ UCZNIA</button> -->
      
        </div>
        
    </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Przedmiot</th>
      <th scope="col">Nauczyciel</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let class of classes">
      <th scope="row">{{ class.id }}</th>
      <td><ngb-highlight [result]="class.name"></ngb-highlight></td>
      <td><ngb-highlight [result]="class.year"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>
</div>
