<div class="container">
    <div class="form-group form-inline">
        Szukaj przedmiot:
        <div class="">
          <!-- <input class="form-control ml-2" type="text" [(ngModel)]="searchModel"/> -->
          <button class="btn btn-lg btn-primary" [routerLink]="['/przedmiot/dodaj']" routerLinkActive="router-link-active" > DODAJ PRZEDMIOT</button>
      
        </div>
        
    </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Przedmiot</th>
      <th scope="col">Sprawdz nauczycieli</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subject of subjects">
      <th scope="row">{{ subject.id }}</th>
      <td><ngb-highlight [result]="subject.subjectName"></ngb-highlight></td>
      <td><button class="btn btn-primary">idk</button></td>
    </tr>
    </tbody>
  </table>
</div>
