<div class="container">

    <div class="form-group form-inline">
        Szukaj ucznia:
        <div class="">
          <input class="form-control ml-2" type="text" [(ngModel)]="searchModel"/>
          <button class="btn btn-lg btn-primary" [routerLink]="['/uczen/dodaj']" routerLinkActive="router-link-active" > DODAJ UCZNIA</button>
      
        </div>
        
    </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">Imię i nazwisko</th>
      <th scope="col">Data urodzenia</th>
      <th scope="col">Wzrost</th>
      <th scope="col">Waga</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students | listFilter: searchModel">
      <th scope="row">{{ student.id }}</th>
      <td>
        <img [src]="student.photo">
      </td>
      <td><ngb-highlight [result]="student.fullName"></ngb-highlight></td>
      <td>{{student.dateOfBirth | date}}</td>
      <td>{{student.height | number}}</td>
      <td>{{student.weight | number}}</td>
      <td><button class="btn btn-primary" [routerLink]="['/ocena/', student.id]">Sprawdź</button></td>
    </tr>
    </tbody>
  </table>
</div>
